<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>CharSet</filter-name>
        <filter-class>filter.CharSet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharSet</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>account_check</servlet-name>
        <servlet-class>Servlet.AccountCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>room_order</servlet-name>
        <servlet-class>Servlet.RoomOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_info</servlet-name>
        <servlet-class>Servlet.UserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account_check</servlet-name>
        <url-pattern>/account_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>room_order</servlet-name>
        <url-pattern>/room_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_info</servlet-name>
        <url-pattern>/user_info</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/signin.jsp</welcome-file>
    </welcome-file-list>
</web-app>